# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude everything except the addon from GitHub archive downloads
# (used by Godot Asset Library). Negative patterns (!) are forbidden in
# .gitattributes, but unsetting the attribute on a later line works:
/* export-ignore
/addons -export-ignore
